<!doctype html>
<html>
<head>
   
      <table border = 3Roz>
         <thead>
            <td>Rozwiązanie</td>
            <td>Nick gc</td>
            <td>Numer kesza</td>
            <td>Mail</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["rozwiązanie"]}}</td>
               <td>{{row["nickgc"]}}</td>
               <td> {{row["Numer"]}}</td>
               <td> {{row["mail"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
   </head>
   <body>
      <form action = "http://127.0.0.1:5000/emailsend" method=POST enctype = "multipart/form-data">
            <div class="button1"><div class="napis2">
                <p style="font-family: Krona One;">Podaj email do którego chcesz wysłać wiadmomość</p></div>
                <input type="text" name="eemail" id="eemail" size="30"></div>
                <p style="font-family: Krona One;">Podaj wiadomość, wzory znajdziesz poniżej</p>
                <input type="text" name="tresc" id="tresc" size="200">
            <div class="pusty"></div>
            <div class="button2"><input type="submit" value="Wyślij"></div>
        </form>
<h1>Wzory do wiadomości</h1>
<p>Rozwiązanie poprawne: Brawo! Poprawne rozwiązanie, otrzymujesz współrzędne "współrzędne" do kesza numer "numer_kesza". Dodatkowe uwagi: "uwagi"</p>
<p>Rozwiązanie niepoprawne: Niestety, rozwiązanie dla kesza "numer kesza" nie jest poprawne spróbuj jeszcze raz, i wyślij ponownie rozwiązanie. Dodatkowe uwagi: "uwagi"</p>
<h2><b>Uwaga! znaki takie jak °, ', " program nie przujmuje!!!</b></br>Współrzędne wpisuj w formacie N 50 13.719 E 019 16.980</h2>
<h1>Usuwanie rekordów dla bazy danych</h1>
<form action = "http://127.0.0.1:5000/delete_record" method=POST enctype = "multipart/form-data">

    <div class="button2"><input type="submit" value="usuń wszystkie rekordy dla bazy danych"></div>
</form>
   </body>
</html>